<div *ngIf="!show">
    <button (click)="show = !show" class="addReview">{{buttonText}}</button>
</div>

<div *ngIf="show">
  <form>
    <textarea class="form-control" rows="3" name="userReview" [(ngModel)]="userReview" #review></textarea>
    <app-book-rating [starPermission]="false" (passBookRating)="setRating($event)" [bookRating]="starRating"></app-book-rating>
    <button type="reset" (click)="show = !show">Cancel</button>
    <button type="submit" (click)="onSubmit(review.value)" >Submit</button>
  </form>
</div>

<div *ngIf="review">
  <div *ngIf="!show">
      <p>{{review}}</p>
      <app-book-rating [starPermission]="true" [bookRating]="starRating"></app-book-rating>
  </div>
</div>


