<div *ngIf="!show">
    <button (click)="show = !show" class="addReview">{{buttonText}}</button>
</div>
<div *ngIf="show">
  <form>
    <textarea class="form-control" rows="3" #review>{{review ? '': review.value}}</textarea>
    <app-book-rating [starPermission]="false" (passBookRating)="($event)"></app-book-rating>
    <button type="reset" (click)="show = !show">Cancel</button>
    <button type="submit" (click)="onSubmit(review.value, rating.value)" >Submit</button>
  </form>
</div>
<p>{{review}}</p>
