<div class="border">
    <div class="row">
      <div class="col-sm-3 col-xs-4 col-lg-2">
          <img  src={{bookData.thumbnail}}>
      </div>
      <div class="col-sm-9 col-xs-8 col-lg-10">
        <h4>{{bookData.title}}</h4>
        <h4>{{bookData.author}}</h4>
        <button class="btn btn-primary" (click)="removeTheBook()">remove</button>
        <app-add-review [review]="bookData.review" [starRating]="bookData.userRating" 
        [isReview]="bookData.isReview" (passBookRating)=updateTheBook($event)></app-add-review>
      </div>
    </div>
</div>